.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.ms-1 {
  margin: 0 0 0 1rem;
}

.me-1 {
  margin: 0 1rem 0 0;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.ps-1 {
  padding: 0 0 0 1rem;
}

.pe-1 {
  padding: 0 1rem 0 0;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.ms-2 {
  margin: 0 0 0 2rem;
}

.me-2 {
  margin: 0 2rem 0 0;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.ps-2 {
  padding: 0 0 0 2rem;
}

.pe-2 {
  padding: 0 2rem 0 0;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.ms-3 {
  margin: 0 0 0 3rem;
}

.me-3 {
  margin: 0 3rem 0 0;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.ps-3 {
  padding: 0 0 0 3rem;
}

.pe-3 {
  padding: 0 3rem 0 0;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.ms-4 {
  margin: 0 0 0 4rem;
}

.me-4 {
  margin: 0 4rem 0 0;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.ps-4 {
  padding: 0 0 0 4rem;
}

.pe-4 {
  padding: 0 4rem 0 0;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.ms-5 {
  margin: 0 0 0 5rem;
}

.me-5 {
  margin: 0 5rem 0 0;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.ps-5 {
  padding: 0 0 0 5rem;
}

.pe-5 {
  padding: 0 5rem 0 0;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin: 6rem 0 0 0;
}

.mb-6 {
  margin: 0 0 6rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.mx-6 {
  margin: 0 6rem;
}

.ms-6 {
  margin: 0 0 0 6rem;
}

.me-6 {
  margin: 0 6rem 0 0;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding: 6rem 0 0 0;
}

.pb-6 {
  padding: 0 0 6rem 0;
}

.py-6 {
  padding: 6rem 0;
}

.px-6 {
  padding: 0 6rem;
}

.ps-6 {
  padding: 0 0 0 6rem;
}

.pe-6 {
  padding: 0 6rem 0 0;
}

.m-7 {
  margin: 7rem;
}

.mt-7 {
  margin: 7rem 0 0 0;
}

.mb-7 {
  margin: 0 0 7rem 0;
}

.my-7 {
  margin: 7rem 0;
}

.mx-7 {
  margin: 0 7rem;
}

.ms-7 {
  margin: 0 0 0 7rem;
}

.me-7 {
  margin: 0 7rem 0 0;
}

.p-7 {
  padding: 7rem;
}

.pt-7 {
  padding: 7rem 0 0 0;
}

.pb-7 {
  padding: 0 0 7rem 0;
}

.py-7 {
  padding: 7rem 0;
}

.px-7 {
  padding: 0 7rem;
}

.ps-7 {
  padding: 0 0 0 7rem;
}

.pe-7 {
  padding: 0 7rem 0 0;
}

.m-8 {
  margin: 8rem;
}

.mt-8 {
  margin: 8rem 0 0 0;
}

.mb-8 {
  margin: 0 0 8rem 0;
}

.my-8 {
  margin: 8rem 0;
}

.mx-8 {
  margin: 0 8rem;
}

.ms-8 {
  margin: 0 0 0 8rem;
}

.me-8 {
  margin: 0 8rem 0 0;
}

.p-8 {
  padding: 8rem;
}

.pt-8 {
  padding: 8rem 0 0 0;
}

.pb-8 {
  padding: 0 0 8rem 0;
}

.py-8 {
  padding: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.ps-8 {
  padding: 0 0 0 8rem;
}

.pe-8 {
  padding: 0 8rem 0 0;
}

.m-9 {
  margin: 9rem;
}

.mt-9 {
  margin: 9rem 0 0 0;
}

.mb-9 {
  margin: 0 0 9rem 0;
}

.my-9 {
  margin: 9rem 0;
}

.mx-9 {
  margin: 0 9rem;
}

.ms-9 {
  margin: 0 0 0 9rem;
}

.me-9 {
  margin: 0 9rem 0 0;
}

.p-9 {
  padding: 9rem;
}

.pt-9 {
  padding: 9rem 0 0 0;
}

.pb-9 {
  padding: 0 0 9rem 0;
}

.py-9 {
  padding: 9rem 0;
}

.px-9 {
  padding: 0 9rem;
}

.ps-9 {
  padding: 0 0 0 9rem;
}

.pe-9 {
  padding: 0 9rem 0 0;
}

.m-10 {
  margin: 10rem;
}

.mt-10 {
  margin: 10rem 0 0 0;
}

.mb-10 {
  margin: 0 0 10rem 0;
}

.my-10 {
  margin: 10rem 0;
}

.mx-10 {
  margin: 0 10rem;
}

.ms-10 {
  margin: 0 0 0 10rem;
}

.me-10 {
  margin: 0 10rem 0 0;
}

.p-10 {
  padding: 10rem;
}

.pt-10 {
  padding: 10rem 0 0 0;
}

.pb-10 {
  padding: 0 0 10rem 0;
}

.py-10 {
  padding: 10rem 0;
}

.px-10 {
  padding: 0 10rem;
}

.ps-10 {
  padding: 0 0 0 10rem;
}

.pe-10 {
  padding: 0 10rem 0 0;
}

.m-11 {
  margin: 11rem;
}

.mt-11 {
  margin: 11rem 0 0 0;
}

.mb-11 {
  margin: 0 0 11rem 0;
}

.my-11 {
  margin: 11rem 0;
}

.mx-11 {
  margin: 0 11rem;
}

.ms-11 {
  margin: 0 0 0 11rem;
}

.me-11 {
  margin: 0 11rem 0 0;
}

.p-11 {
  padding: 11rem;
}

.pt-11 {
  padding: 11rem 0 0 0;
}

.pb-11 {
  padding: 0 0 11rem 0;
}

.py-11 {
  padding: 11rem 0;
}

.px-11 {
  padding: 0 11rem;
}

.ps-11 {
  padding: 0 0 0 11rem;
}

.pe-11 {
  padding: 0 11rem 0 0;
}

.m-12 {
  margin: 12rem;
}

.mt-12 {
  margin: 12rem 0 0 0;
}

.mb-12 {
  margin: 0 0 12rem 0;
}

.my-12 {
  margin: 12rem 0;
}

.mx-12 {
  margin: 0 12rem;
}

.ms-12 {
  margin: 0 0 0 12rem;
}

.me-12 {
  margin: 0 12rem 0 0;
}

.p-12 {
  padding: 12rem;
}

.pt-12 {
  padding: 12rem 0 0 0;
}

.pb-12 {
  padding: 0 0 12rem 0;
}

.py-12 {
  padding: 12rem 0;
}

.px-12 {
  padding: 0 12rem;
}

.ps-12 {
  padding: 0 0 0 12rem;
}

.pe-12 {
  padding: 0 12rem 0 0;
}

.m-13 {
  margin: 13rem;
}

.mt-13 {
  margin: 13rem 0 0 0;
}

.mb-13 {
  margin: 0 0 13rem 0;
}

.my-13 {
  margin: 13rem 0;
}

.mx-13 {
  margin: 0 13rem;
}

.ms-13 {
  margin: 0 0 0 13rem;
}

.me-13 {
  margin: 0 13rem 0 0;
}

.p-13 {
  padding: 13rem;
}

.pt-13 {
  padding: 13rem 0 0 0;
}

.pb-13 {
  padding: 0 0 13rem 0;
}

.py-13 {
  padding: 13rem 0;
}

.px-13 {
  padding: 0 13rem;
}

.ps-13 {
  padding: 0 0 0 13rem;
}

.pe-13 {
  padding: 0 13rem 0 0;
}

.m-14 {
  margin: 14rem;
}

.mt-14 {
  margin: 14rem 0 0 0;
}

.mb-14 {
  margin: 0 0 14rem 0;
}

.my-14 {
  margin: 14rem 0;
}

.mx-14 {
  margin: 0 14rem;
}

.ms-14 {
  margin: 0 0 0 14rem;
}

.me-14 {
  margin: 0 14rem 0 0;
}

.p-14 {
  padding: 14rem;
}

.pt-14 {
  padding: 14rem 0 0 0;
}

.pb-14 {
  padding: 0 0 14rem 0;
}

.py-14 {
  padding: 14rem 0;
}

.px-14 {
  padding: 0 14rem;
}

.ps-14 {
  padding: 0 0 0 14rem;
}

.pe-14 {
  padding: 0 14rem 0 0;
}

.m-15 {
  margin: 15rem;
}

.mt-15 {
  margin: 15rem 0 0 0;
}

.mb-15 {
  margin: 0 0 15rem 0;
}

.my-15 {
  margin: 15rem 0;
}

.mx-15 {
  margin: 0 15rem;
}

.ms-15 {
  margin: 0 0 0 15rem;
}

.me-15 {
  margin: 0 15rem 0 0;
}

.p-15 {
  padding: 15rem;
}

.pt-15 {
  padding: 15rem 0 0 0;
}

.pb-15 {
  padding: 0 0 15rem 0;
}

.py-15 {
  padding: 15rem 0;
}

.px-15 {
  padding: 0 15rem;
}

.ps-15 {
  padding: 0 0 0 15rem;
}

.pe-15 {
  padding: 0 15rem 0 0;
}

.btn-secondary .a, .btn-secondary, .btn-primary a, .btn-primary {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
}
.btn-secondary .a:hover, .btn-secondary:hover, .btn-primary a:hover, .btn-primary:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.btn-primary a {
  background-color: #63B2FF;
  color: #FBFAF5;
  padding: 15px 32px;
  margin: 4px 2px;
}

.btn-secondary .a {
  background-color: #A4B7B4;
  color: #FBFAF5;
  padding: 15px 32px;
  margin: 4px 2px;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

.pr {
  color: #63B2FF;
}

li {
  list-style: none;
  width: 150px;
  color: #FBFAF5;
  font-size: 20px;
}
li a {
  display: block;
  position: relative;
  color: #FBFAF5;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 5px;
}
li a:hover::after, li a:focus::after, li a:active:after {
  width: 100%;
}
li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FBFAF5;
  transition: 0.35s;
}

a {
  text-decoration: none;
  color: #FBFAF5;
}

.initial {
  position: absolute;
  top: 0;
  right: 10%;
  color: #63B2FF;
}

.triangle-top {
  width: 0;
  height: 0;
  border-top: 600px solid #63B2FF;
  border-right: 1200px solid transparent;
}

.triangle-top ul {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  list-style: none;
  padding: 0;
}
.triangle-top .bi-star-fill {
  font-size: 10px;
  position: absolute;
  padding: 0 3px;
  top: 0;
  right: 13%;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button_container {
  position: fixed;
  top: 34px;
  right: 27px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
  display: none;
}

.border {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background-color: #63B2FF;
  position: fixed;
  top: 8px;
  right: 23px;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FBFAF5;
}

.button_container.active .middle {
  opacity: 0;
  background: #FBFAF5;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FBFAF5;
}

.button_container span {
  background: #FBFAF5;
  border: none;
  border-radius: 5px;
  height: 5px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 20px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #63B2FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.8s, height 0.35s;
  overflow: hidden;
  z-index: 1;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.overlay.open .bi-star-fill {
  font-size: 10px;
  position: absolute;
  padding: 0 3px;
  top: 0;
  right: 20%;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay .overlay-menu {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FBFAF5;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 50%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FBFAF5;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.topsection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  /* The dots/bullets/indicators */
  /* Fading animation */
}
.topsection .dots {
  display: flex;
  justify-content: center;
  width: 75%;
}
.topsection .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.topsection .active, .topsection .dot:hover {
  background-color: #717171;
}
.topsection .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.topsection .slide-container {
  width: 100%;
  height: 100%;
}
.topsection .slide-container .slide-show {
  display: none;
}
.topsection .slide-container .slide-1,
.topsection .slide-container .slide-2 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: repeat(2, 1fr);
  grid-column: auto;
  gap: 100px;
}
.topsection .slide-container .slide-1 .leftSide img,
.topsection .slide-container .slide-2 .leftSide img {
  width: 217px;
  height: 412px;
  display: block;
  margin-left: auto;
}
.topsection .slide-container .slide-1 .name,
.topsection .slide-container .slide-1 p,
.topsection .slide-container .slide-2 .name,
.topsection .slide-container .slide-2 p {
  text-align: left;
}
.topsection .slide-container .slide-1 .tech-img,
.topsection .slide-container .slide-2 .tech-img {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  -ms-grid-column: repeat(auto-fill, 100px);
  grid-column: auto;
  justify-content: space-between;
  overflow: hidden;
}
.topsection .slide-container .slide-1 .tech-img img,
.topsection .slide-container .slide-2 .tech-img img {
  width: 80px;
  height: 80px;
}
.topsection .slide-container .slide-1 .tech-img .php,
.topsection .slide-container .slide-2 .tech-img .php {
  border-radius: 10px;
}
.topsection .slide-container .slide-1 .rightSide .blue-line,
.topsection .slide-container .slide-2 .rightSide .blue-line {
  width: 90%;
  height: 3px;
  background: #63b2ff;
  display: block;
  margin-top: 1px;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  -ms-grid-row: repeat(1, 2fr);
  grid-row: auto;
  gap: 10px;
  /* The typing effect */
  /* The typewriter cursor effect */
}
.projects li {
  color: #0E1111;
  width: 100%;
}
.projects li h2,
.projects li h3 {
  display: block;
  position: relative;
  color: #0E1111;
  text-decoration: none;
  overflow: hidden;
}
.projects li .blue-line {
  content: "";
  width: 102px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 1px;
}
.projects li .blue-line:nth-child(4) {
  content: "";
  width: 50px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 1px;
}
.projects .typewriter {
  width: auto;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 4px solid #63B2FF;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
}
.projects .fade-in {
  -webkit-animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
          animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
}
@-webkit-keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #63B2FF;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #63B2FF;
  }
}

.containerWeb {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: repeat(2, 1fr);
  grid-column: auto;
  gap: 10px;
}
.containerWeb .Webcontainer-1 img,
.containerWeb .Webcontainer-2 img {
  width: 450px;
  height: 280px;
  box-shadow: rgba(34, 34, 34, 0.18) -4px 8px 20px 0px;
}
.containerWeb .Webcontainer-1,
.containerWeb .Webcontainer-2 {
  position: relative;
}
.containerWeb .Webcontainer-1 p,
.containerWeb .Webcontainer-2 p {
  color: #A4B7B4;
}
.containerWeb .Webcontainer-1:hover,
.containerWeb .Webcontainer-2:hover {
  transform: translateY(0%);
}
.containerWeb .Webcontainer-1:hover h3,
.containerWeb .Webcontainer-2:hover h3 {
  color: #63B2FF;
}
.containerWeb .Webcontainer-1:hover img,
.containerWeb .Webcontainer-2:hover img {
  transform: translateY(-20%);
  transition: 0.6s;
}
.containerWeb .webText {
  width: 550px;
  height: 170px;
  position: absolute;
  top: 40%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(34, 34, 34, 0.18) -4px 8px 20px 0px;
  color: #0E1111;
  overflow: hidden;
}
.containerWeb .webText .title,
.containerWeb .webText .sub-title,
.containerWeb .webText .sub-desc {
  color: #0E1111;
}

.about {
  /* The typing effect */
  /* The typewriter cursor effect */
}
.about li {
  color: #0E1111;
  width: 100%;
}
.about li h2,
.about li h3 {
  display: block;
  position: relative;
  color: #0E1111;
  text-decoration: none;
  overflow: hidden;
}
.about li .blue-line {
  content: "";
  width: 102px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 1px;
}
.about li span:nth-child(1) {
  color: #63B2FF;
}
.about .typewriter {
  width: auto;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 4px solid #63B2FF;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
}
.about .fade-in {
  -webkit-animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
          animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #63B2FF;
  }
}
.about .containerAbout {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: repeat(2, 1fr);
  grid-column: auto;
  gap: 10px;
}
.about .containerAbout h2 {
  color: #63B2FF;
}

.left-line,
.right-line {
  /* The actual line being placed before each list item, tweak width and color as appropriate */
  /* Start the line further down on the first list item */
  /* Stop the line short on the final list item */
  /* Styles for the SVG bullet points */
}
.left-line .date,
.right-line .date {
  color: #A4B7B4;
}
.left-line p,
.right-line p {
  padding-left: 10px;
}
.left-line li,
.right-line li {
  /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
  position: relative;
  z-index: 0;
  /* Use padding to space things out rather than margins as the line would get broken up otherwise */
  margin: 0;
  padding-bottom: 0.5em;
  padding-left: 20px;
  z-index: 1;
}
.left-line li:before,
.right-line li:before {
  background-color: #63b2ff;
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 9px;
  z-index: -1;
}
.left-line li:first-child:before,
.right-line li:first-child:before {
  top: 15px;
}
.left-line li:last-child:before,
.right-line li:last-child:before {
  height: 6px;
}
.left-line .bullet,
.right-line .bullet {
  margin-left: -20px;
  width: 20px;
  fill: #63b2ff;
  float: left;
  padding-right: 10px;
}

.contact {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  -ms-grid-row: repeat(1, 2fr);
  grid-row: auto;
  gap: 10px;
  /* The typing effect */
  /* The typewriter cursor effect */
}
.contact .typewriter {
  width: auto;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 4px solid #63B2FF;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
}
.contact .fade-in {
  -webkit-animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
          animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #63B2FF;
  }
}
.contact .blue-line {
  content: "";
  width: 102px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 1px;
}
.contact li {
  width: 100%;
}
.contact li .typewriter,
.contact li h2,
.contact li h3 {
  color: #0E1111;
}
.contact li .blue-line:nth-child(3) {
  content: "";
  width: 50px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 1px;
}
.contact .row {
  margin: -20px 0;
}
.contact .row:after {
  content: "";
  display: table;
  clear: both;
}
.contact .row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.contact .row .col.x-50 {
  width: 50%;
}
.contact .row .col.x-100 {
  width: 100%;
}
.contact .row .col.f-r {
  float: right;
}
.contact .content-wrapper {
  min-height: 100%;
  position: relative;
}
.contact .get-in-touch {
  max-width: 650px;
  left: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(34, 34, 34, 0.18) -4px 8px 20px 0px;
}
.contact .get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}
.contact .contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact .contact-form .col a {
  text-align: right;
}
.contact .contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 1.5px 0;
  border-color: #63B2FF;
  font-size: 18px;
  line-height: 26px;
}
.contact .contact-form .input-text:focus {
  outline: none;
}
.contact .contact-form .input-text:focus + .label, .contact .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact .contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: #63B2FF;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.contact .note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}
.contact .note .link {
  color: #A4B7B4;
  text-decoration: none;
}
.contact .note .link:hover {
  text-decoration: underline;
}

.social li h3 {
  color: #0E1111;
  width: 100%;
}
.social .icon {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}
.social .icon .bi-github,
.social .icon .bi-instagram,
.social .icon .bi-linkedin {
  color: #0E1111;
  opacity: 0.6;
  font-size: 60px;
}

footer .triangle-bottom {
  width: 0;
  height: 0;
  border-bottom: 500px solid #63B2FF;
  border-left: 1150px solid transparent;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}
footer .triangle-bottom .initial {
  position: absolute;
  top: 150px;
  bottom: 0;
  right: 350px;
  width: 100%;
}
footer .triangle-bottom .initial h1, footer .triangle-bottom .initial h4, footer .triangle-bottom .initial p {
  color: #FBFAF5;
}
footer .triangle-bottom .initial ul {
  padding: 0;
}
footer .triangle-bottom .initial ul li {
  display: block;
}
footer .triangle-bottom .initial ul li h1 {
  display: flex;
  justify-content: flex-end;
}
footer .triangle-bottom .initial ul li .blue-line {
  content: "";
  width: 100%;
  height: 3px;
  background: #FBFAF5;
  display: block;
}
footer .triangle-bottom .initial ul li h4 {
  position: relative;
  color: #FBFAF5;
  text-decoration: none;
  overflow: hidden;
  margin: 0;
  padding-bottom: 5px;
}
footer .triangle-bottom .initial ul li h4:hover::after, footer .triangle-bottom .initial ul li h4:focus::after, footer .triangle-bottom .initial ul li h4:active:after {
  width: 60%;
}
footer .triangle-bottom .initial ul li h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FBFAF5;
  transition: 0.35s;
}
footer .triangle-bottom .initial ul li .aa {
  width: 210px;
}/*# sourceMappingURL=style.css.map */