.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.ms-1 {
  margin: 0 0 0 1rem;
}

.me-1 {
  margin: 0 1rem 0 0;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.ps-1 {
  padding: 0 0 0 1rem;
}

.pe-1 {
  padding: 0 1rem 0 0;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.ms-2 {
  margin: 0 0 0 2rem;
}

.me-2 {
  margin: 0 2rem 0 0;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.ps-2 {
  padding: 0 0 0 2rem;
}

.pe-2 {
  padding: 0 2rem 0 0;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.ms-3 {
  margin: 0 0 0 3rem;
}

.me-3 {
  margin: 0 3rem 0 0;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.ps-3 {
  padding: 0 0 0 3rem;
}

.pe-3 {
  padding: 0 3rem 0 0;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.ms-4 {
  margin: 0 0 0 4rem;
}

.me-4 {
  margin: 0 4rem 0 0;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.ps-4 {
  padding: 0 0 0 4rem;
}

.pe-4 {
  padding: 0 4rem 0 0;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.ms-5 {
  margin: 0 0 0 5rem;
}

.me-5 {
  margin: 0 5rem 0 0;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.ps-5 {
  padding: 0 0 0 5rem;
}

.pe-5 {
  padding: 0 5rem 0 0;
}

.btn-secondary .btn-submit, .btn-primary a {
  border: none;
  outline: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 15px 32px;
  margin: 4px 2px;
}
.btn-secondary .btn-submit:hover, .btn-primary a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.btn-primary a {
  background-color: #63B2FF;
  color: #FBFAF5;
}

.btn-secondary .btn-submit {
  background-color: #A4B7B4;
  color: #FBFAF5;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #FBFAF5 url("../img/loader.gif") no-repeat center center;
  background-size: 125px;
  z-index: 9999;
}

/* GLOBAL STYLE */
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FBFAF5;
}

p {
  letter-spacing: 0.5px;
}

/* DOTTED AFTER TEXT */
.pr {
  color: #63B2FF;
}

/* BLUE LINE BELOW TEXT */
body .blue-line {
  content: "";
  width: 102px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 5px;
}
body .blue-line:nth-child(3), body .blue-line:nth-child(1) {
  width: 51px;
  height: 5px;
  background: #63b2ff;
  display: block;
  margin-top: 5px;
}

/* TYPEWRITER EFFECTS */
.typewriter {
  width: auto;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 4px solid #63B2FF;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* The typing effect */
  /* The typewriter cursor effect */
}
.typewriter.fade-in {
  -webkit-animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
          animation: typing 4s steps(40, end), blink-caret 0.8s step-end infinite;
}
@-webkit-keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #63B2FF;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #63B2FF;
  }
}

/* HEADER */
header {
  /* The dots/bullets/indicators */
}
header .triangle-top {
  width: 0;
  height: 0;
  border-top: 600px solid #63B2FF;
  border-right: 1200px solid transparent;
  position: absolute;
  left: 0;
  max-width: 100%;
  z-index: -1;
}
header .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto;
  -ms-grid-column: auto auto;
  grid-column: auto;
  grid-gap: 5px;
  z-index: 1;
}
header .grid .item-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .grid .item-1 .nav {
  display: flex;
}
header .grid .item-1 .nav ul {
  display: flex;
  align-items: center;
}
header .grid .item-1 .nav ul .wrapper {
  height: 100%;
  transition: all 300ms ease-in-out;
  padding: 0;
  display: none;
}
header .grid .item-1 .nav ul .menu {
  color: #0E1111;
}
header .grid .item-1 .nav ul .menu div {
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #A4B7B4;
}
header .grid .item-1 .nav ul .menu a {
  color: #63B2FF;
}
header .grid .item-1 .nav ul .menu a:hover {
  color: #0E1111;
}
header .grid .item-1 .nav ul .menu div:last-child {
  border: 0;
}
header .grid .item-1 .nav ul .menu--off {
  position: absolute;
  z-index: 3;
  width: 20%;
  display: block;
  background: #FBFAF5;
  margin-top: 30px;
  transition: all 300ms;
  display: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
header .grid .item-1 .nav ul .menu--on {
  left: 0;
  box-shadow: rgba(17, 17, 17, 0.18) -4px 8px 20px 0px;
  transition: all 300ms;
  display: initial;
}
header .grid .item-1 .nav ul .material-design-hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
}
header .grid .item-1 .nav ul .material-design-hamburger__icon {
  cursor: pointer;
}
header .grid .item-1 .nav ul .material-design-hamburger__icon--to-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide;
          animation-name: material-design-hamburger__icon--slide;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .grid .item-1 .nav ul .material-design-hamburger__icon--to-arrow::before {
  -webkit-animation-name: material-design-hamburger__icon--slide-before;
          animation-name: material-design-hamburger__icon--slide-before;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .grid .item-1 .nav ul .material-design-hamburger__icon--to-arrow::after {
  -webkit-animation-name: material-design-hamburger__icon--slide-after;
          animation-name: material-design-hamburger__icon--slide-after;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .grid .item-1 .nav ul .material-design-hamburger__icon--from-arrow::before {
  -webkit-animation-name: material-design-hamburger__icon--slide-before-from;
          animation-name: material-design-hamburger__icon--slide-before-from;
}
header .grid .item-1 .nav ul .material-design-hamburger__icon--from-arrow::after {
  -webkit-animation-name: material-design-hamburger__icon--slide-after-from;
          animation-name: material-design-hamburger__icon--slide-after-from;
}
header .grid .item-1 .nav ul .material-design-hamburger__layer {
  display: block;
  width: 50px;
  height: 5px;
  background: #FBFAF5;
  position: relative;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-radius: 50px;
}
header .grid .item-1 .nav ul .material-design-hamburger__layer::before, header .grid .item-1 .nav ul .material-design-hamburger__layer::after {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  background: inherit;
  content: "";
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  border-radius: 50px;
  margin: 2px 0;
}
header .grid .item-1 .nav ul .material-design-hamburger__layer::before {
  bottom: 200%;
}
header .grid .item-1 .nav ul .material-design-hamburger__layer::after {
  top: 200%;
}
@-webkit-keyframes material-design-hamburger__icon--slide {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes material-design-hamburger__icon--slide {
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes material-design-hamburger__icon--slide-before {
  100% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-before {
  100% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@-webkit-keyframes material-design-hamburger__icon--slide-after {
  100% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-after {
  100% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@-webkit-keyframes material-design-hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }
}
@keyframes material-design-hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@-webkit-keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
header .grid .item-1 .nav ul li .bi-star-fill {
  font-size: 10px;
  vertical-align: top;
  position: absolute;
  padding: 0 5px;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
  color: #FBFAF5;
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
header .grid .item-1 .nav ul li a {
  display: inline-flex;
  position: relative;
  color: #FBFAF5;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 5px;
}
header .grid .item-1 .nav ul li a:hover::after, header .grid .item-1 .nav ul li a:focus::after, header .grid .item-1 .nav ul li a:active::after {
  width: 200%;
}
header .grid .item-1 .nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FBFAF5;
  transition: 0.35s;
}
header .grid .item-2 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto;
  -ms-grid-column: auto auto;
  align-items: center;
}
header .grid .item-2 .initial {
  color: #63B2FF;
  grid-area: 1/2;
  margin: 0 auto;
}
header .grid .item-2 .initial h1 {
  margin-bottom: 0;
  font-size: 120px;
}
header .grid .item-3 {
  /* Overlay */
}
header .grid .item-3 .button_container {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  transition: opacity 0.25s ease;
  display: none;
}
header .grid .item-3 .button_container .border {
  background: #63B2FF;
  position: fixed;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  top: 20px;
  right: 20px;
}
header .grid .item-3 .button_container:hover {
  opacity: 0.7;
}
header .grid .item-3 .button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FBFAF5;
}
header .grid .item-3 .button_container.active .middle {
  opacity: 0;
  background: #FBFAF5;
}
header .grid .item-3 .button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FBFAF5;
}
header .grid .item-3 span {
  background: #FBFAF5;
  border-radius: 5px;
  height: 5px;
  width: 30px;
  transition: all 0.35s ease;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}
header .grid .item-3 span:nth-of-type(2) {
  top: 11px;
}
header .grid .item-3 span:nth-of-type(3) {
  top: 22px;
}
header .grid .item-3 .overlay {
  position: fixed;
  background: #63B2FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.8s, height 0.35s;
  overflow: hidden;
  z-index: 1;
}
header .grid .item-3 .overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
header .grid .item-3 .overlay.open .bi-star-fill {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
  color: #FBFAF5;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
header .grid .item-3 .overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
header .grid .item-3 .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
header .grid .item-3 .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
header .grid .item-3 .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
header .grid .item-3 .overlay .overlay-menu {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  text-align: center;
}
header .grid .item-3 .overlay ul {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
header .grid .item-3 .overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 3);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
header .grid .item-3 .overlay ul li a {
  display: inline-block;
  position: relative;
  color: #FBFAF5;
  overflow: hidden;
}
header .grid .item-3 .overlay ul li a:hover::after, header .grid .item-3 .overlay ul li a:focus::after, header .grid .item-3 .overlay ul li a:active::after {
  width: 100%;
  display: block;
}
header .grid .item-3 .overlay ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FBFAF5;
  transition: 0.35s;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
header .span-col-3 {
  grid-area: 2/1;
  grid-column: 1/span 2;
  /* Fading animation */
}
header .span-col-3 .slide-1,
header .span-col-3 .slide-2 {
  display: flex;
  justify-content: space-evenly;
}
header .span-col-3 .slide-1 .leftSide,
header .span-col-3 .slide-2 .leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .span-col-3 .slide-1 .leftSide video,
header .span-col-3 .slide-2 .leftSide video {
  width: 480px;
  height: 300px;
  -webkit-clip-path: inset(1.5px 1.5px);
          clip-path: inset(1.5px 1.5px);
}
header .span-col-3 .slide-1 .rightSide,
header .span-col-3 .slide-2 .rightSide {
  text-align: left;
}
header .span-col-3 .slide-1 .rightSide .blue-line,
header .span-col-3 .slide-2 .rightSide .blue-line {
  width: 100%;
  height: 3px;
}
header .span-col-3 .slide-1 .rightSide .right-img,
header .span-col-3 .slide-2 .rightSide .right-img {
  display: flex;
  justify-content: left;
  gap: 20px;
}
header .span-col-3 .slide-1 .rightSide .right-img img,
header .span-col-3 .slide-2 .rightSide .right-img img {
  width: 80px;
  height: 80px;
}
header .span-col-3 .slide-1 .rightSide .textTop h1,
header .span-col-3 .slide-2 .rightSide .textTop h1 {
  font-size: 40px;
  font-weight: 600;
}
header .span-col-3 .slide-1 .rightSide .textTop h2,
header .span-col-3 .slide-2 .rightSide .textTop h2 {
  font-size: 60px;
  font-weight: 700;
}
header .span-col-3 .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
header .dots-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-column: repeat(4, 1fr);
  grid-column: auto;
  margin-top: -50px;
  margin-bottom: 100px;
  grid-gap: 10px;
}
header .dots-container .dots-wrapper {
  grid-area: 1/2;
  margin-right: auto;
}
header .dots-container .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #EAF3F0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
header .dots-container .active, header .dots-container .dot:hover {
  background-color: #A4B7B4;
}

/* PROJECTS SECTION */
.projects .heading-text {
  color: #0E1111;
}
.projects .heading-text .large-text {
  width: 100%;
  display: inline-block;
  color: #0E1111;
}
.projects .heading-text .large-text h2 {
  font-size: 60px;
}
.projects .heading-text .large-text h3 {
  font-size: 40px;
}
.projects .web-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: repeat(2, 1fr);
  grid-column: auto;
  gap: 20px;
}
.projects .web-wrapper .web-container-1,
.projects .web-wrapper .web-container-2,
.projects .web-wrapper .web-container-3 {
  position: relative;
}
.projects .web-wrapper .web-container-1 p,
.projects .web-wrapper .web-container-2 p,
.projects .web-wrapper .web-container-3 p {
  color: #A4B7B4;
}
.projects .web-wrapper .web-container-1 img,
.projects .web-wrapper .web-container-2 img,
.projects .web-wrapper .web-container-3 img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(34, 34, 34, 0.18) -4px 8px 20px 0px;
}
.projects .web-wrapper .web-container-1:hover img,
.projects .web-wrapper .web-container-2:hover img,
.projects .web-wrapper .web-container-3:hover img {
  transform: translateY(-10%);
  transition: 0.6s;
}
.projects .web-wrapper .web-container-1:hover,
.projects .web-wrapper .web-container-2:hover,
.projects .web-wrapper .web-container-3:hover {
  transform: translateY(0%);
}
.projects .web-wrapper .web-container-1:hover .webText .title,
.projects .web-wrapper .web-container-2:hover .webText .title,
.projects .web-wrapper .web-container-3:hover .webText .title {
  color: #63B2FF;
}
.projects .web-wrapper .web-container-1 .webText,
.projects .web-wrapper .web-container-2 .webText,
.projects .web-wrapper .web-container-3 .webText {
  width: 90%;
  min-height: 50%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  background: rgba(251, 250, 245, 0.9);
  box-shadow: rgba(17, 17, 17, 0.18) -4px 8px 20px 0px;
  color: #0E1111;
  overflow: hidden;
}
.projects .web-wrapper .web-container-1 .webText .title,
.projects .web-wrapper .web-container-2 .webText .title,
.projects .web-wrapper .web-container-3 .webText .title {
  font-size: 25px;
  font-weight: 700;
}
.projects .web-wrapper .web-container-1 .webText .sub-title,
.projects .web-wrapper .web-container-2 .webText .sub-title,
.projects .web-wrapper .web-container-3 .webText .sub-title {
  font-size: 20px;
  font-weight: 600;
}
.projects .web-wrapper .web-container-1 .webText .title,
.projects .web-wrapper .web-container-1 .webText .sub-title,
.projects .web-wrapper .web-container-2 .webText .title,
.projects .web-wrapper .web-container-2 .webText .sub-title,
.projects .web-wrapper .web-container-3 .webText .title,
.projects .web-wrapper .web-container-3 .webText .sub-title {
  color: #0E1111;
}
.projects .web-wrapper .web-container-1 .webText .sub-desc,
.projects .web-wrapper .web-container-2 .webText .sub-desc,
.projects .web-wrapper .web-container-3 .webText .sub-desc {
  font-weight: 500;
  color: #A4B7B4;
}
.projects .web-wrapper .web-1,
.projects .web-wrapper .web-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .web-wrapper .web-2 {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

/* ABOUT SECTION */
.about .heading-text .large-text {
  width: 100%;
  display: inline-block;
  color: #0E1111;
}
.about .heading-text .large-text span:nth-child(1) {
  color: #63B2FF;
}
.about .heading-text .large-text h2 {
  font-size: 60px;
}
.about .containerAbout {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column: repeat(2, 1fr);
  grid-column: auto;
  gap: 20px;
}
.about .containerAbout h2 {
  color: #63B2FF;
  font-size: 60px;
}
.about .containerAbout li {
  /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
  position: relative;
  z-index: 0;
  /* Use padding to space things out rather than margins as the line would get broken up otherwise */
  margin: 0;
  padding-bottom: 8px;
  z-index: 1;
  width: 100%;
  /* The actual line being placed before each list item, tweak width and color as appropriate */
  /* Start the line further down on the first list item */
  /* Stop the line short on the final list item */
  /* Styles for the SVG bullet points */
}
.about .containerAbout li h4, .about .containerAbout li p {
  color: #0E1111;
  padding-left: 30px;
}
.about .containerAbout li h4 {
  letter-spacing: 0.5px;
}
.about .containerAbout li::before {
  background-color: #63b2ff;
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 9px;
  z-index: -1;
}
.about .containerAbout li:first-child::before {
  top: 15px;
}
.about .containerAbout li:last-child::before {
  height: 6px;
}
.about .containerAbout li .bullet {
  width: 20px;
  fill: #63b2ff;
  float: left;
}
.about .containerAbout li .date {
  color: #A4B7B4;
}

/* CONTACT SECTION */
.contact {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  -ms-grid-row: repeat(1, 2fr);
  grid-row: auto;
  gap: 20px;
}
.contact .large-text {
  width: 100%;
  display: inline-block;
  color: #0E1111;
}
.contact .contact-container {
  width: 100%;
}
.contact .contact-container .typewriter,
.contact .contact-container h2,
.contact .contact-container h3 {
  color: #0E1111;
}
.contact .contact-container h2 {
  font-size: 60px;
}
.contact .contact-container h3 {
  font-size: 40px;
}
.contact .row {
  margin: -20px 0;
}
.contact .row:after {
  content: "";
  display: table;
  clear: both;
}
.contact .row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.contact .row .col.x-50 {
  width: 50%;
}
.contact .row .col.x-100 {
  width: 100%;
}
.contact .row .col.f-r {
  float: right;
}
.contact .content-wrapper {
  min-height: 100%;
  position: relative;
}
.contact .get-in-touch {
  max-width: 650px;
  left: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(17, 17, 17, 0.18) -4px 8px 20px 0px;
}
.contact .contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact .contact-form .form-field textarea {
  height: 100px;
}
.contact .contact-form .size {
  height: 100px;
  margin-top: 10px;
  resize: none;
}
.contact .contact-form .to-top {
  top: 0;
}
.contact .contact-form .col a {
  text-align: right;
}
.contact .contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 1.5px 0;
  border-color: #63B2FF;
  font-size: 16px;
  line-height: 26px;
}
.contact .contact-form .input-text:focus {
  outline: none;
}
.contact .contact-form .input-text:focus + .label, .contact .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact .contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 26px;
  color: #63B2FF;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  padding: 5px 0;
}
.contact .note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}
.contact .note .link {
  color: #A4B7B4;
  text-decoration: none;
}
.contact .note .link:hover {
  text-decoration: underline;
}

/* SOCIAL SECTION */
.social {
  margin-top: 80px;
}
.social .heading-text h3 {
  color: #0E1111;
  font-size: 40px;
}
.social .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social .icon .bi-github,
.social .icon .bi-linkedin {
  font-size: 60px;
}
.social .icon .bi-github {
  color: #171515;
}
.social .icon .bi-linkedin {
  color: #0077b5;
}
.social .icon .ig {
  width: 60px;
  height: 60px;
  overflow: hidden;
  padding-top: 5px;
}
.social .icon .github:hover,
.social .icon .instagram:hover,
.social .icon .linkedin:hover {
  transform: rotateZ(7deg) scale(1.1);
  transition: all 0.3s ease;
}

/* FOOTER */
footer .triangle-bottom {
  width: 0;
  height: 0;
  border-bottom: 500px solid #63B2FF;
  border-left: 1200px solid transparent;
  position: absolute;
  right: 0;
  max-width: 100%;
  z-index: -1;
}
footer .initial {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto auto;
  -ms-grid-column: auto auto auto;
  grid-column: auto;
  grid-template-rows: 500px;
  -ms-grid-row: 500px;
  grid-row: auto;
  gap: 5px;
  z-index: 1;
}
footer .initial .wrap {
  grid-area: 1/3;
  margin: auto;
  padding-top: 100px;
  padding-left: 500px;
}
footer .initial .wrap h1, footer .initial .wrap h4, footer .initial .wrap p {
  color: #FBFAF5;
}
footer .initial .wrap h1 {
  font-size: 120px;
}
footer .initial .wrap h4 {
  position: relative;
  color: #FBFAF5;
  overflow: hidden;
  margin: 0;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}
footer .initial .wrap h4:hover::after, footer .initial .wrap h4:focus::after, footer .initial .wrap h4:active::after {
  width: 50%;
}
footer .initial .wrap h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FBFAF5;
  transition: 0.35s;
}
footer .initial .wrap .blue-line {
  content: "";
  width: 100%;
  height: 3px;
  background: #FBFAF5;
  display: block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 240px) and (max-device-width: 667px) {
  body {
    overflow-x: hidden;
  }

  /* Typewriter */
  .typewriter.fade-in {
    -webkit-animation: typing 2s steps(30, end), blink-caret 0.8s step-end infinite;
            animation: typing 2s steps(30, end), blink-caret 0.8s step-end infinite;
  }

  /* Header */
  header {
    /* The dots/bullets/indicators */
  }
  header .dots-container {
    display: flex;
    position: absolute;
    top: 530px;
    left: 0;
    right: 0;
    margin-top: unset;
    margin-bottom: unset;
  }
  header .dots-container .dots-wrapper {
    grid-area: 1/1;
    margin: 0 auto;
  }
  header .triangle-top {
    border-top: 300px solid #63B2FF;
    border-right: 300px solid transparent;
    overflow: hidden;
  }
  header .grid {
    display: block;
  }
  header .grid .normal {
    display: none;
  }
  header .grid .item-1 {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 60px;
  }
  header .grid .item-1 .nav ul .wrapper {
    display: initial;
  }
  header .grid .item-1 .nav ul .menu--off {
    width: 55%;
  }
  header .grid .item-2 {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: repeat(2, 1fr);
  }
  header .grid .item-2 .initial {
    grid-area: 1/2;
  }
  header .grid .item-2 .initial h1 {
    font-size: 100px;
  }
  header .grid .item-3 .button_container {
    top: 40px;
    right: 30px;
  }
  header .grid .item-3 .button_container .border {
    top: 20px;
    right: 10px;
  }
  header .span-col-3 {
    padding: 0 10px;
  }
  header .span-col-3 .slide-1,
header .span-col-3 .slide-2 {
    display: block;
  }
  header .span-col-3 .slide-1 .leftSide,
header .span-col-3 .slide-2 .leftSide {
    display: flex;
    justify-content: center;
  }
  header .span-col-3 .slide-1 .leftSide video,
header .span-col-3 .slide-2 .leftSide video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
  }
  header .span-col-3 .slide-1 .rightSide,
header .span-col-3 .slide-2 .rightSide {
    margin-top: 100px;
  }
  header .span-col-3 .slide-1 .rightSide .blue-line,
header .span-col-3 .slide-2 .rightSide .blue-line {
    width: 100%;
  }
  header .span-col-3 .slide-1 .rightSide .right-img,
header .span-col-3 .slide-2 .rightSide .right-img {
    gap: 5px;
  }
  header .span-col-3 .slide-1 .rightSide .right-img img,
header .span-col-3 .slide-2 .rightSide .right-img img {
    width: 60px;
    height: 60px;
  }
  header .span-col-3 .slide-1 .rightSide .textTop h3,
header .span-col-3 .slide-2 .rightSide .textTop h3 {
    font-size: 25px;
  }
  header .span-col-3 .slide-1 .rightSide .textTop h2,
header .span-col-3 .slide-2 .rightSide .textTop h2 {
    font-size: 45px;
  }

  /* PROJECTS */
  .projects {
    padding: 0 10px;
    margin-top: 50px;
  }
  .projects .heading-text {
    padding: 0;
  }
  .projects .heading-text .large-text h2 {
    font-size: 45px;
  }
  .projects .heading-text .large-text h3 {
    font-size: 25px;
  }
  .projects .web-wrapper {
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-column: repeat(1, 1fr);
    gap: 10px;
  }
  .projects .web-wrapper .web-container-1,
.projects .web-wrapper .web-container-2,
.projects .web-wrapper .web-container-3 {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }
  .projects .web-wrapper .web-container-1 img,
.projects .web-wrapper .web-container-2 img,
.projects .web-wrapper .web-container-3 img {
    padding: 0;
    max-width: 90%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
    margin: 0 auto;
  }
  .projects .web-wrapper .web-container-1 .webText,
.projects .web-wrapper .web-container-2 .webText,
.projects .web-wrapper .web-container-3 .webText {
    height: auto;
    width: 100%;
    padding: 0;
    top: 60%;
    bottom: unset;
    display: unset;
  }
  .projects .web-wrapper .web-container-1 .webText .title,
.projects .web-wrapper .web-container-1 .webText .sub-title,
.projects .web-wrapper .web-container-1 .webText .sub-desc,
.projects .web-wrapper .web-container-2 .webText .title,
.projects .web-wrapper .web-container-2 .webText .sub-title,
.projects .web-wrapper .web-container-2 .webText .sub-desc,
.projects .web-wrapper .web-container-3 .webText .title,
.projects .web-wrapper .web-container-3 .webText .sub-title,
.projects .web-wrapper .web-container-3 .webText .sub-desc {
    padding: 0 16px;
  }
  .projects .web-wrapper .web-1, .projects .web-wrapper .web-2, .projects .web-wrapper .web-3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ABOUT SECTION */
  .about {
    padding: 0 10px;
  }
  .about .heading-text {
    padding: 0;
    margin-top: 50px;
  }
  .about .heading-text .large-text span:nth-child(1) {
    color: #63B2FF;
  }
  .about .heading-text .large-text h2 {
    font-size: 45px;
  }
  .about .containerAbout {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-column: repeat(1, 1fr);
    gap: 10px;
  }
  .about .containerAbout h2 {
    font-size: 45px;
  }

  /* CONTACT SECTION */
  .contact {
    padding: 0 10px;
    gap: 10px;
    margin-top: 50px;
  }
  .contact .row {
    margin: -10px 0;
  }
  .contact .contact-wrapper {
    padding: 0;
  }
  .contact .contact-content {
    padding: 0;
    margin-top: 20px;
  }
  .contact .contact-content .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact .contact-content .contact-form .form-field {
    display: inline-flex;
    width: auto;
  }
  .contact .contact-container {
    width: 100%;
  }
  .contact .contact-container .typewriter,
.contact .contact-container h2,
.contact .contact-container h3 {
    color: #0E1111;
  }
  .contact .contact-container h2 {
    font-size: 45px;
  }
  .contact .contact-container h3 {
    font-size: 25px;
  }

  /* SOCIAL SECTION */
  .social {
    padding: 0 10px;
  }
  .social .heading-text {
    padding: 0;
  }
  .social .heading-text h3 {
    font-size: 25px;
  }
  .social .icon {
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 20px;
  }
  .social .icon .bi-github,
.social .icon .bi-linkedin,
.social .icon .ig {
    font-size: 45px;
    padding-top: 2px;
  }
  .social .icon .bi-linkedin,
.social .icon .ig {
    padding-left: 0;
  }
  .social .icon .ig {
    width: 45px;
    height: 45px;
  }

  /* FOOTER */
  footer .triangle-bottom {
    border-bottom: 380px solid #63B2FF;
    border-left: 400px solid transparent;
    overflow: hidden;
  }
  footer .initial {
    grid-template-columns: auto;
    -ms-grid-column: auto;
    grid-template-rows: 380px;
    -ms-grid-row: 380px;
    justify-content: end;
  }
  footer .initial .wrap {
    padding: 50px 10px 0 0;
    grid-area: 1/1;
    width: 120px;
  }
  footer .initial .wrap h1 {
    font-size: 100px;
  }
  footer .initial .wrap .blue-line {
    content: "";
    width: 90%;
  }
  footer .initial .wrap p {
    letter-spacing: unset;
  }
  footer .initial .wrap h4 {
    margin: 5px 0 0 0;
  }
  footer .initial .wrap h4:hover::after, footer .initial .wrap h4:focus::after, footer .initial .wrap h4:active::after {
    width: 90%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 712px) and (max-device-width: 1138px) {
  header {
    /* The dots/bullets/indicators */
  }
  header .dots-container {
    display: flex;
    position: absolute;
    top: 630px;
    left: 0;
    right: 0;
    margin-top: unset;
    margin-bottom: unset;
  }
  header .dots-container .dots-wrapper {
    grid-area: 1/1;
    margin: 0 auto;
  }
  header .triangle-top {
    border-top: 400px solid #63B2FF;
    border-right: 700px solid transparent;
    overflow: hidden;
  }
  header .grid {
    display: block;
  }
  header .grid .item-1 {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 60px;
  }
  header .grid .item-1 .nav .wrapper {
    display: none;
  }
  header .grid .item-2 {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: repeat(2, 1fr);
  }
  header .grid .item-2 .initial {
    grid-area: 1/2;
  }
  header .grid .item-3 .button_container {
    top: 40px;
    right: 30px;
  }
  header .grid .item-3 .button_container .border {
    top: 20px;
    right: 10px;
  }
  header .span-col-3 {
    padding: 0 20px;
  }
  header .span-col-3 .slide-1,
header .span-col-3 .slide-2 {
    display: block;
  }
  header .span-col-3 .slide-1 .leftSide,
header .span-col-3 .slide-2 .leftSide {
    display: flex;
    justify-content: center;
  }
  header .span-col-3 .slide-1 .leftSide video,
header .span-col-3 .slide-2 .leftSide video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
  }
  header .span-col-3 .slide-1 .rightSide,
header .span-col-3 .slide-2 .rightSide {
    margin-top: 100px;
  }
  header .span-col-3 .slide-1 .rightSide .blue-line,
header .span-col-3 .slide-2 .rightSide .blue-line {
    width: 75%;
  }
  header .span-col-3 .slide-1 .rightSide .right-img,
header .span-col-3 .slide-2 .rightSide .right-img {
    gap: 5px;
  }
  header .span-col-3 .slide-1 .rightSide .right-img img,
header .span-col-3 .slide-2 .rightSide .right-img img {
    width: 60px;
    height: 60px;
  }

  /* Projects */
  .projects {
    padding: 0 20px;
    margin-top: 50px;
  }
  .projects .heading-text {
    padding: 0;
  }
  .projects .web-wrapper .webText .title,
.projects .web-wrapper .webText .sub-title,
.projects .web-wrapper .webText .sub-desc {
    margin: 10px 0;
  }

  /* About */
  .about {
    padding: 0 20px;
  }
  .about .heading-text {
    padding: 0;
  }
  .about .containerAbout {
    padding: 0;
  }

  /* Contact */
  .contact {
    padding: 0 20px;
    margin-top: 50px;
  }
  .contact .row {
    margin: -10px 0;
  }
  .contact .contact-wrapper {
    padding: 0;
  }
  .contact .contact-content {
    padding: 0;
  }

  /* Social */
  .social {
    padding: 0 20px;
  }
  .social .heading-text {
    padding: 0;
  }
  .social .icon {
    padding: 10px 0;
    margin-top: 20px;
  }

  /* Footer */
  footer .triangle-bottom {
    border-bottom: 500px solid #63B2FF;
    border-left: 700px solid transparent;
    overflow: hidden;
  }
  footer .initial .wrap {
    padding-left: 300px;
  }
}/*# sourceMappingURL=style.css.map */