@use './config';

%btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;

    &:hover {
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.btn-primary {
    @extend %btn;
}

.btn-primary a {
    @extend %btn;
    background-color: config.$blue;
    color: config.$white;
    padding: 15px 32px;
    margin: 4px 2px;
}

.btn-secondary {
    @extend %btn;
    background-color: config.$grey1;
}