@use './config';

%btn {
    display: block;
    justify-content: center;
    border: none;
    border-radius: 50px;
    padding: 15px 5px;
    color: var(--white2);
    text-decoration: none;
    text-align: center;
    width: 150px;
    color: config.$white;
    font-weight: bold;

    &:hover {
        transform: scale(1.1);
        transition: all .25s ease-in-out;
    }
}

.btn-primary {
    @extend %btn;
    background-color: config.$blue;
}

.btn-primary a {
    display: block;
}

.btn-secondary {
    @extend %btn;
    background-color: config.$grey1;
}