$font-stack: 'Manrope', sans-serif;

$blue: #63B2FF;
$white: #FBFAF5;
$grey1: #A4B7B4;
$grey2: #EAF3F0;
$black: #0E1111;

$h4: 20px;
$p: 16px;

$h1: (
    "normal": 120px,
    "mobile": 100px
);

$h2: (
    "normal": 60px,
    "mobile": 45px
);

$h3: (
    "normal": 40px,
    "mobile": 25px
);

$font-weights: (
    "extraLight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semiBold": 600,
    "bold": 700,
    "extraBold": 800
);

$github: #171515;
$linkedin: #0077b5;
