$font-stack: 'Manrope', sans-serif;

$blue: #63B2FF;
$white: #FBFAF5;
$grey1: #A4B7B4;
$grey2: #EAF3F0;
$black: #0E1111;

$h1: 120px;
$h2: 60px;
$h3: 40px;
$h4: 20px;
$p: 16px;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 900
);

$github: #171515;
$linkedin: #0077b5;
$instagram: #8a3ab9;