@use './config';
@use './utilities';
@use './buttons';

html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: config.$font-stack;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: config.$h1;
}

h2 {
    font-size: config.$h2;
}

h3 {
    font-size: config.$h3;
}

p {
    font-size: config.$p;
}

hr {
    background-color: config.$blue;
    height: 2px;
    border: 0;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 650px solid config.$blue;
    border-right: 1200px solid transparent;
}

.triangle {
    ul {
        position: absolute;
        top: 10%;
        left: 10%;
        display: flex;
        list-style: none;
        padding: 0;
    }
    li {
        width: 150px;
        color: config.$white;
        font-size: 20px;
    }
    .bi-star-fill {
        font-size: 10px;
        position: absolute;
        padding: 0 3px;
        animation: loading 3s linear infinite;

        @keyframes loading {
            0% { 
                transform: rotate(0); 
            }
            100% { 
                transform: rotate(360deg);
            }
        }
    }
}

.initial {
    position: absolute;
    top: 0;
    right: 10%;
    color: config.$blue;
}

.topsection {
    
    position: absolute;
    top: 45%;
    left: 5%;

     /* The dots/bullets/indicators */
     .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
      }
      
    /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }
    
    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    .slide-container {
        
        .slide-show {
            display: none;
        }

        .slide-1,
        .slide-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            gap: 5px;

            .rightSide img {
                margin-top: -20px;
                width: 217px;
                height: 412px;
            }

            .name,
            p {
                text-align: left;
            }

            .tech-img {
                display: grid;
                grid-template-columns: repeat(auto-fill, 100px);
                justify-content: space-between;
                overflow: hidden;
            }

            .tech-img img {
                width: 80px;
                height: 80px;
            }

            .tech-img .php {
                border-radius: 10px;
            }

            .button a {
                display: flex;
                justify-content: center;
                background-color: config.$blue;
                border: none;
                border-radius: 50px;
                padding: 15px 5px;
                color: var(--white2);
                text-decoration: none;
                text-align: center;
                width: 150px;
                color: config.$white;
                font-weight: bold;
            }
        }
    
    }
}

